data/
archive/
docs/
pdf/
*.qsave
*.rds
result*
*.log
*.pptx
*.h5ad
*.h5Seurat
*.log
*result*
*.Rhistory
*.png
*.zip
pdf/
ppt/
result*/
.Rhistory
.Rproj.user
tmp/
*.loom
*.h5
sample_obj/